@using ProjectA.Models.Models.Comment
@model List<CommentModel>

@{
    ViewData["Title"] = "_AllRecords";
}


<h5>Ответы</h5>
<hr />
@foreach (var item in Model)
{
    <div class="text-center mt-3 mb-3">
        <div class="d-flex justify-content-between">
            <p style="font-size: 15px" class="d-inline">@item.UserName</p>
        </div>
        <p> @item.Content</p>
        <div class="d-flex justify-content-between">

            <div class="d-inline">
                <button onclick="like(@item.Id)" type="submit" class="btn btn-light"><img src="https://img.icons8.com/cotton/64/000000/facebook-like--v1.png" style="height: 20px" /></button>
                <p id="like-@item.Id" class="d-inline" style="padding-top: 10px">  @item.Likes</p>
                <button onclick="dislike(@item.Id)" type="submit" class="btn btn-light"><img src="https://img.icons8.com/cotton/64/000000/thumbs-down--v2.png" style="height: 20px" /></button>
                <p id="dislike-@item.Id" class="d-inline" style="padding-top: 10px">  @item.Dislikes</p>
            </div>
        </div>
    </div>
    <hr />
}
<script>

    const like = (recordId) => {
        console.log("like method")

        $.ajax({
            url: '@Url.Action("Like", "ForumComment")',
            type: "POST",
            data: {
                recordId
            },
            success: function (data) {
                $('#like-' + recordId).html(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    const dislike = (recordId) => {
        console.log("dislike method")

        $.ajax({
            url: '@Url.Action("Dislike", "ForumComment")',
            type: "POST",
            data: {
                recordId
            },
            success: function (data) {
                $('#dislike-' + recordId).html(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

</script>

